// List of colors in project
$basic1: #f0f1f1;
$basic2: #5e5322;
$basic3: #fad648;
$basic4: #737373;
$basic5: #3c3c3c;
//Nav Header colors:
$navLinkAccountTextColor: #737373;
$navLinkRegistrationBorderColor: #fad648;
$navLinkPageTextColor: #3c3c3c;
$navLinkPageBorderColor: #3c3c3c;
$headerSloganTextColor: #3c3c3c;
$headerButtonTextColor: #3c3c3c;
$headerBorderLineColor: #3c3c3c;
//Three Columns
$threeColsNumberTextColor: #5e5322;
$threeColsTitleTextColor: #3c3c3c;
$threeColsParaTextColor: #3c3c3c;
//Four Steps
$fourStepsTextColor: #3c3c3c;
$fourStepsContainerBgColor: #f0f1f1;
$fourStepsBoxTextColor: #3c3c3c;
$fourStepsBoxBorderColor: #3c3c3c;
//About us
$aboutUsContainerBgColor: #f0f1f1;
$aboutUsShortTextColor: #3c3c3c;
$aboutUsLongTextColor: #3c3c3c;
//WhoWeHelp
$mainHeader: #3c3c3c;
$listColor: #3c3c3c;
$mainText: #3c3c3c;
$mainTextList: #3c3c3c;
$secondTextList: #3c3c3c;
$listColorRight: #3c3c3c;
