table,
th,
td {
  border: 1px solid black;
}
.tdView {
  padding: 0.8rem;
  font-size: 1.5rem;
  input {
    height: 3rem;
    font-size: 2.4rem;
    border: none;
  }
  input:focus {
    outline: none;
  }
}
select {
  width: 9rem;
  height: 3rem;
}
h1 {
  font-size: 5rem;
}
select {
  font-size: 2.4rem;
}
.btn {
  border: 0.75px solid $headerBorderLineColor;
  opacity: 1;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0px;
  color: $headerButtonTextColor;
  height: 6rem;
  width: 11rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
