header {
  font-size: 35px;
  text-align: center;
}
.mainView {
  width: 1200px;
  margin: 0 auto;
  .form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    input {
      border: none;
      border-bottom: 1px solid #3c3c3c;
    }
    input:focus {
      outline: none;
    }
    .preview-img {
      height: 200px;
      width: 200px;
      margin: 0 auto;
    }
  }
}
